{% extends "layout.html" %}

{% block title %}
    Conditions
{% endblock %}

{% block main %}

<link rel="stylesheet" href="/static/additional.css">

        <h1>Today's Conditions</h1>
        <div class="table-responsive pt-4">
            <table class="table table-striped table-sm">
                <tr>
                    {% for time in weather_info[0][0] %}
                        <th>{{ time }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for temp in weather_info[0][3] %}
                        <td>{{ temp }}°C</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for symbol in weather_info[0][2] %}
                        <td><img src="/static/images/symbols/{{ symbol }}.png" alt="weather symbol"></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Sunrise</th>
                <th>Sunset</th>
            </tr>
            <tr>
                <td>{{ weather_info[2] }}</td>
                <td>{{ weather_info[3] }}</td>
            </tr>
        </table>
        

        <P>
            <table class="table table-striped">
                <tr>
                    {% for tide in tides %}
                        <th>{{ tide.EventType }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for tide in tides %}
                        <td>{{ tide.Time }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for tide in tides %}
                        <td>{% if tide.EventType == "High Tide" %}<b>(No access to Tidal Pool)</b>{% endif %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{% if tides[0].EventType == "High Tide" %}{{ swim_times[0][0] }} till {{ swim_times[0][1] }}{% endif %}</td>
                    <td>{% if tides[1].EventType == "High Tide" %}{{ swim_times[0][0] }} till {{ swim_times[0][1] }}{% endif %}</td>
                    <td>{% if tides[2].EventType == "High Tide" %}{{ swim_times[1][0] }} till {{ swim_times[1][1] }}{% endif %}</td>
                    <td>{% if tides[3].EventType == "High Tide" %}{{ swim_times[1][0] }} till {{ swim_times[1][1] }}{% endif %}</td>
                </tr>
            </table>
        </p>
        <strong>
            {% if wind_speed_int > 19 %}
                <p class="text-danger">Wind speeds in excess of 20 MPH today - take care as water is likely to be very choppy, especially if wind is South facing!</p>
            {% elif wind_speed_int > 14 and wind_speed_int < 20 %}
                <p class="text-danger">Winds over 15mph - expect choppy waters, especially if South facing</p>
            {% elif wind_speed_int > 9 and wind_speed_int < 15 %}
                <p class="text-warning">Winds over 10mph might make for mildly choppy waters, especially if South facing</p>
            {% else %}
                <p class="text-success">Today is looking mostly calm, with no particularly strong winds</p>
            {% endif %}
            {% if weather_info[0] == "North East" or "North" or "North West" %}
                <p class="text-success">Today's wind is mostly North facing</p>
            {% elif weather_info[0]  == "East" or "West" %}
                <p class="text-warning">Today's wind is mostly perpendicular to the Tidal Pool</p>
            {% else %}
                <p class="text-warning">Today's wind is mostly South facing (towards the coastline)</p>
            {% endif %}
        </strong>    
        {% if not in_testing_season %}
            <p>
                Regular water quality testing is carried out by the Environment Agency from the 1st May to the end of September.<br>
                Out of season, only the annual classifcation of the water water and any warnings regarding heavy rain impacting water quality
                 will be displayed.
            </p>
        {% endif %}        
        <table class="table table-striped">
            <tr>
                <th>
                    Latest Water Sample
                </th>
                <th>
                    Latest Risk Prediction
                </th>
                <th>
                    Latest Annual Classifcation
                </th>
                <th>
                    Heavy Rain Impacting Water Quality? 
                </th>
            </tr>
            <tr>
                <td>
                    {{ pollution.latest_sample_classification}}
                </td>
                <td>
                    <b>{{ pollution.risk_prediction}}</b>
                </td>
                <td>
                    <b>{{ pollution.latest_compliance_assessment}}</b>
                </td>
                <td>
                    {% if pollution.heavy_rain_warning %}
                        <b>YES - WARNING IN PLACE</b>
                    {% else %}
                        <b>No</b>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td id="latest_sample">
                    {% if pollution.latest_sample_classification == "Excellent" %}
                        <img src="/static/images/3-stars.png" alt="Excellent" class="latest_sample_img">
                    {% elif pollution.latest_sample_classification == "Good" %}
                        <img src="/static/images/2-stars.png" alt="Good" class="latest_sample_img">
                    {% elif pollution.latest_sample_classification == "Sufficient" %}
                        <img src="/static/images/1-star.png" alt="Sufficient" class="latest_sample_img">
                    {% elif pollution.latest_sample_classification == "Poor" %}
                        <img src="/static/images/0-stars.png" alt="Poor" class="latest_sample_img">
                    {% endif %}
                    <div id="latest_sample_date">
                        Taken <strong>{{ pollution.latest_sample_date}}</strong>
                    </div>
                </td>
                <td id="risk_prediction">
                    {% if pollution.risk_prediction == "Normal" %}
                        <img src="/static/images/green_tick.png" alt="safe" class="risk_prediction_img">
                    {% else %}
                        <img src="/static/images/red_cross.png" alt="warning" class="risk_prediction_img">
                    {% endif %}
                    <div id="risk_prediction_date">
                        Expires <strong>{{ pollution.risk_prediction_expiry }}</strong>
                    </div>
                </td>
                <td id="annual_classification">
                    {% if pollution.latest_compliance_assessment == "Excellent" %}
                        <img src="/static/images/3-stars.png" alt="Excellent" class="classification_img">
                    {% elif pollution.latest_compliance_assessment == "Good" %}
                        <img src="/static/images/2-stars.png" alt="Good" class="classification_img">
                    {% elif pollution.latest_compliance_assessment == "Sufficient" %}
                        <img src="/static/images/1-star.png" alt="Sufficient" class="classification_img">
                    {% elif pollution.latest_compliance_assessment == "Poor" %}
                        <img src="/static/images/0-stars.png" alt="Poor" class="classification_img">
                    {% endif %}
                    <div id="annual_classification_date">
                        Issued <strong>{{ pollution.latest_compliance_date }}</strong>
                    </div>
                </td>
                <td>
                    {% if pollution.heavy_rain_warning  %}
                        <img src="/static/images/red_cross.png" alt="warning">
                    {% else %}
                        <img src="/static/images/green_tick.png" alt="safe">
                    {% endif %}
                </td>
            </tr>
        </table>
        
        <p>
            <img src="{{ wind_plot }}"/>
        </p>

{% endblock %}