{% extends "layout.html" %}

{% block title %}
    Resources
{% endblock %}

{% block main %}

        <p><a href="https://www.facebook.com/groups/518496032337196">Haeckels Community Sauna Facebook Group</a></p>
        <p><a href="https://www.riseupcleanup.co.uk/">Rise Up. Clean Up. Margate.</p>
        <p><a href="https://sas.org.uk/">Surfers Against Sewage</a></p>
        <p><a href="https://www.facebook.com/friendsofcliftonvillecoastline">Friends of Cliftonville coastline</a></p>
        <p><a href="https://www.facebook.com/walpolebayswimmers/">Walpole Bay Swimmers</a></p>

{% endblock %}
